.top_container {
  background-color: #d89cf6;
  position: relative;
  padding-top: 90px;
}

.middle_container {
  background-color: #f0e3ff;
}

.bottom_container {
  background-color: #916dd5;
  padding: 40px;
}

hr{
  border-style: none;
  border-top-style: dotted;
  width: 4%;
  border-color: #d89cf6;
  border-width: 5px;
}

.profile{
  padding-bottom: 100px;
  width: 40%;
  margin: auto;
}

.skills{
  padding-top: 100px;
}

.contact-me{
  padding-top: 80px;
  padding-bottom: 80px;
  width: 40%;
  margin: auto;
  line-height: 2;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.mountain {
  vertical-align: middle;
}

.footer-link {
  color: #3e206d;
  margin: 25px;
}

.joker {
  margin: 50px auto 40px auto;
  width: 36%;
  border-radius: 50%;
}

.java-img {
  width: 25%;
  float: left;
  margin-right: 8%;
}

.web-img {
  width: 25%;
  float: right;
  margin-left: 8%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

h1 {
  font-size: 90px;
  margin: 50px auto 0 auto;
  color: #916dd5;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #916dd5;
  font-size: 40px;
  margin-top: 0;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #3e206d;
}

.top_cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom_cloud {
  position: absolute;
  bottom: 300px;
  left: 200px;
}

.copyright{
  color: #f0e3ff;
  margin-top: 30px;
  margin-bottom: 0;
}
