.top_container {
  background-color: #d89cf6;
  position: relative;
  padding-top: 6.25rem;
}
.middle_container{
  background-color: #f0e3ff;
  padding: 1.25rem;
}

.bottom_container{
  background-color: #d89cf6;
  padding-top: 1.25rem;
}
.mountain{
  vertical-align: middle;
}
a{
  color: #916dd5;
}
.joker{
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 50%;
}
.skill-img{
  width: 7.5rem;
  height: 7.5rem;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
}

h1 {
  font-size: 5.625rem;
  margin: 3.125rem auto 0 auto;
  color: #3e206d;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #3e206d;
  font-size: 2.5rem;
  margin-top: 0;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #916dd5;
}

.top_cloud {
  position: absolute;
  right: 12.5rem;
  top: 3.125rem;
}

.bottom_cloud {
  position: absolute;
  bottom: 18.75rem;
  left: 12.5rem;
}
